@page "/PatientDetails/{PatientId:int}"
@using FitTheraPortal.Shared.Models

@inject ISnackbar Snackbar

<h3>Patient Details</h3>

@if (_hasError)
{
    <div style="color: red">Invalid route.</div>
}
else if (_patient == null)
{
    <div>Loading...</div>
}
else
{
    <div>This should contain the patient details.</div>
    <div>Include the current injury and a collapsed section of previous injuries.</div>
}

@code {
    [Parameter]
    public int? PatientId { get; set; }
    private bool _hasError = false;
    private Patient? _patient;
    private List<Injury> _currentInjuries = new List<Injury>();
    private List<Injury> _pastInjuries = new List<Injury>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _hasError = AreRouteParamsValid();

        if (!_hasError)
        {
            FetchPatientInfo();
            // Get all injuries
        }
        
        Snackbar.Add("Remember to figure out the whole health data thing!", Severity.Info);
    }

    private bool AreRouteParamsValid()
    {
        return PatientId == null;
    }

    private void FetchPatientInfo()
    {
        _patient = new Patient();
    }

    private void FetchCurrentInjuries()
    {
        _currentInjuries = new List<Injury>();
    }

    private void FetchPastInjuries()
    {
        _pastInjuries = new List<Injury>();
    }
}