@page "/Patients"
@using System.Diagnostics
@using System.Net.Http.Headers
@using FitTheraPortal.Shared.Models
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider

<h3>Patients</h3>

<div>This page will show the list of current patients.</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await Http.GetAsync("api/Patient/all");
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
    }
}