@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="form-control">@context.User.Identity.Name <a href="#" @onclick="SignOut">Log Out</a></div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log In</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task SignOut(MouseEventArgs args)
    {
        Microsoft.AspNetCore.Components.WebAssembly.Authentication.NavigationManagerExtensions.NavigateToLogout(Navigation, "authentication/logout");
    }
}